.steam {
    all: unset;
}

.steam-new, .steam-upcoming, .steam-trending {
    background-color: rgba(46,52,64,0.75);
    padding: 15px;
    border-radius: 20px;
}

.steam-refresh-button {
    all: unset;
    background: rgba(46,52,64,0.75);
    border: 0;
    color: #A3BE8C;
    padding: 10px;
    border-radius: 10px;
}